$primaryColour: rgb(188, 134, 92);
body {
    box-sizing: border-box;
    background-color: $primaryColour;
}

.hamburger {
    background-color: white;
    &:hover {
        background-color: $primaryColour;
        border: 2px solid white;
    }
}

svg {
    color: $primaryColour;
    &:hover {
        color: white;
    }
}

.morella {
    color: $primaryColour;
}

.container {
    min-height: 80vh;
}

@media (max-width:768px) {
    .container {
        height: 600px;
        width: 200px;
    }
}