$primaryColour: rgb(188, 134, 92);
body {
    box-sizing: border-box;
    background-color: $primaryColour;
}

.morella {
    color: $primaryColour;
}

.container {
    min-height: 100vh;
}

.hamburger {
    background-color: white;
    &:hover {
        border: 2px white solid;
        background-color: $primaryColour;
    }
}

svg {
    color: $primaryColour;
    &:hover {
        color: white;
    }
}

@media(min-width: 1024px) {
    .container {
        flex-direction: row;
        text-align: justify;
    }
}